@media (max-width:600px){
    .texto{
    position: absolute;
       bottom: 50px;
       left: 50px;
       font-size: 1.5rem;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, serif;
    }
    .letra {
        font-family: "Allerta Stencil";
        font-size: 2rem;
        color:chartreuse;
        font-weight: 500;
    }
    .letramenu {

        font-family: fantasy;
        font-size: 1.5rem;
        
    }
     .whatsapp {
         position: fixed;
         width: 45px;
         height: 50px;
         bottom: 300px;
         right: 40px;
         background-color: #25d366;
         color: #FFF;
         border-radius: 6rem;
         text-align: center;
         font-size: 2rem;
         z-index: 100;
     }
     .letratienda {
         font-size: 1rem;
         font-family: sans-serif;
     }
       .texto2 {
           position: relative;
           bottom: 8rem;
           color: brown;
           font-family: fantasy;
           font-size: 1rem;

       }
       .tamaño {
           font-size: 1rem;
       }

}
@media (min-width: 600px) {
        .texto {
            position: absolute;
            bottom: 600px;
            right: 200px;

        }
        .tamaño {
            font-size: 2rem;
        }
        .letra {
            font-family: "Allerta Stencil";
            font-size: 10rem;
            color: chartreuse;
            font-weight: 500;
        }
        .letramenu {
            font-family: fantasy;
            font-size: 1.5rem;
            color: chocolate;
        }
      .whatsapp {
          position: fixed;
          width: 80px;
          height: 80px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 3rem;
          z-index: 100;
      }
      .letratienda {
          font-size: 1rem;
          font-family: sans-serif;
      }
      .texto2 {
          position: absolute;
          bottom: 340px;
          right: 310px;
          color: brown;
          font-family: fantasy;
          font-size: 2rem;

      }
    }



.whatsapp-icon {
    margin-top: 13px;
}

.fondologo{
background-color: black;
}

.fondogris{
    background-color: lightgray;
}

/*Clase para google maps */
 .embed-container {
     position: relative;
     overflow: hidden;
     padding-top: 56.25%;
 }
/*Clase para google maps*/
 .embed-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 75%;
     border: 0;
 }
 