@media (max-width:600px){
    .texto{
        position: absolute;
       bottom: 50px;
       left: 50px;
       font-size: 25px;
       font-family: 'Times New Roman', Times, serif;
    }
    .letra {
        font-family: "Allerta Stencil";
        font-size: 40px;
        color:chartreuse;
        font-weight: 500;
    }
    .letramenu {
        font-family: fantasy;
        font-size: 20px;
       
    }
     .whatsapp {
         position: fixed;
         width: 60px;
         height: 60px;
         bottom: 40px;
         right: 40px;
         background-color: #25d366;
         color: #FFF;
         border-radius: 50px;
         text-align: center;
         font-size: 30px;
         z-index: 100;
     }

}
@media (min-width: 600px) {
        .texto {
            position: absolute;
            bottom: 600px;
            right: 200px;
        }
        .letra {
            font-family: "Allerta Stencil";
            font-size: 140px;
            color: chartreuse;
            font-weight: 500;
        }
        .letramenu {
            font-family: fantasy;
            font-size: 25px;
            color: chocolate;
        }
      .whatsapp {
          position: fixed;
          width: 80px;
          height: 80px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 50px;
          z-index: 100;
      }
    }



.whatsapp-icon {
    margin-top: 13px;
}

.fondologo{
background-color: black;
}

.fondogris{
    background-color: lightgray;
}

.letrasverdes{
color: chartreuse;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tamaño{
    font-size: 25px;
}





