/*Para movil*/
@media (max-width:420px){
    .texto{
    position: absolute;
       bottom: 50px;
       left: 50px;
       font-size: 1.5rem;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, serif;
    }
    .letra {
        font-family: "Allerta Stencil";
        font-size: 2.5rem;
        color: chartreuse;
        font-weight: 100;
    }
    .letramenu {

        font-family: fantasy;
        font-size: 1.5rem;
        
    }
     .whatsapp {
         position: fixed;
         width: 60px;
         height: 60px;
         bottom: 40px;
         right: 30px;
         background-color: #25d366;
         color: #FFF;
         border-radius: 6rem;
         text-align: center;
         font-size: 2rem;
         z-index: 100;
     }
     .letratienda {
         font-size: 1rem;
         font-family: sans-serif;
     }
       .texto2 {
           position: absolute;
           bottom: 8rem;
           color: brown;
           font-family: fantasy;
           font-size: 1rem;

       }
       .tamaño {
           font-size: 1rem;
       }
        .letrasverdes {
            font-size: 1rem;
            color: greenyellow;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .texto3 {
            position: absolute;
            right: 100px;
            bottom: 11rem;
            color: black;
           font-family:Cambria,
           Cochin,
           Georgia,
           Times,
           'Times New Roman',
           serif;
            font-size: 1rem;
        }
        .textotv{
            position: absolute;
            right: 130px;
            bottom: 8rem;
            color: white;
            font-family:Cambria,
            Cochin,
            Georgia,
            Times,
            'Times New Roman',
            serif;
            font-size: 1.25rem;
        }

}
/* Para tablet*/
@media (min-width: 420px) {
    .texto {
        position: absolute;
        bottom: 600px;
        right: 200px;
        font-size: 2rem;

    }

    .letrasverdes {
        font-size: 2rem;
        color: greenyellow;
        font-family: Cambria,
            Cochin,
            Georgia,
            Times,
            'Times New Roman',
            serif;

    }

    .tamaño {
        font-size: 4rem;
    }

    .letra {
        font-family: "Allerta Stencil";
        font-size: 5.5rem;
        color: chartreuse;
        font-weight: 100;
    }

    .letramenu {
        font-family: fantasy;
        font-size: 1.5rem;
        color: chocolate;
    }

    .whatsapp {
        position: fixed;
        width: 80px;
        height: 80px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 3rem;
        z-index: 100;
    }

    .letratienda {
        font-size: 1rem;
        font-family: sans-serif;
    }

    .texto2 {
        position: absolute;
        bottom: 340px;
        right: 310px;
        color: brown;
        font-family: fantasy;
        font-size: 2rem;

    }

    .texto3 {
        position: absolute;
        bottom: 200px;
        right: 200px;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2rem;
    }

    .textotv {
        position: absolute;
        right: 250px;
        bottom: 200px;
        color: white;
        font-family: Cambria,
            Cochin,
            Georgia,
            Times,
            'Times New Roman',
            serif;
        font-size: 2rem;
    }
}

/*Laptop*/
@media (min-width: 770px) {
        .texto {
            position: absolute;
            bottom: 600px;
            right: 200px;
            font-size: 2rem;

        }
        .letrasverdes{
            font-size: 2rem;
            color: greenyellow;
             font-family: Cambria,
             Cochin,
             Georgia,
             Times,
             'Times New Roman',
             serif;
            
        }
        .tamaño {
            font-size: 2rem;
        }
        .letra {
            font-family: "Allerta Stencil";
            font-size: 8rem;
            color: chartreuse;
            font-weight: 100;
        }
        .letramenu {
            font-family: fantasy;
            font-size: 1.5rem;
            color: chocolate;
        }
      .whatsapp {
          position: fixed;
          width: 80px;
          height: 80px;
          bottom: 40px;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 50px;
          text-align: center;
          font-size: 3rem;
          z-index: 100;
      }
      .letratienda {
          font-size: 1rem;
          font-family: sans-serif;
      }
      .texto2 {
          position: absolute;
          bottom: 340px;
          right: 310px;
          color: brown;
          font-family: fantasy;
          font-size: 2rem;

      }
      .texto3{
          position: absolute;
          bottom: 400px;
          right: 450px;
          color:black;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 4rem;
      }
      .textotv {
          position: absolute;
          right: 820px;
          bottom: 14rem;
          color: white;
          font-family: Cambria,
              Cochin,
              Georgia,
              Times,
              'Times New Roman',
              serif;
          font-size: 4rem;
      }
    }

.fondologos{
    background-color: black;
}

.whatsapp-icon {
    margin-top: 13px;
}

.fondologo{
background-color: black;
}

.fondogris{
    background-color: lightgray;
}

/*Clase para google maps */
 .embed-container {
     position: relative;
     overflow: hidden;
     padding-top: 56.25%;
 }
/*Clase para google maps*/
 .embed-container iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 75%;
     border: 0;
 }
 